* {
    margin: 0;
    padding: 0;
}

#navbar {

    top: 0;
    z-index: 0;

}

.navbar-brand img {
    height: 40 px;
    padding-left: 30 px;


}

.navbar-nav li {
    padding: 0 10px;

}

.navbar-nav li {
    float: right;
    text-align: left;

}

#nav-bar ul li a:hover {
    color: #007bff !important;

}

.nav-link {
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    color: #555;
}

#about button {
    margin-top: 20px;
    margin-bottom: 20 px;
}

.about content {
    padding-top: 50px;

}

#team {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    color: #555;
}

h1 {
    text-align: center;
    padding-top: 10px;
    color: #555 !important;
}

h1::after {
    content: '';
    background: #007bff;
    display: block;
    width: 170px;
    height: 3px;
    margin: 20px auto 5px;
}

#new entry {
    padding-bottom: 100px;
}

#signin {
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 20px;
}

#hemanth {
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 100px;
}

#alphabet {
    padding-top: 50px;

    padding-left: 650px;


}

#alekhya {


    padding-left: 653px;



}

#lakshmi {


    padding-left: 647px;
    padding-bottom: 50px;


}

#vasu {
    padding-left: 100px;
}